<div id="header"><a href="./" style="text-decoration: none;color:white;">戻る</a>　イベント</div>
<div id="main">
    <h2>現在開催中のイベント</h2>
    {% for event in present %}
        <p><a href="./?controller=event&action=detail&id={{ event['id'] }}"><b>{{ event["name"] }}</b></a><br />
            出題範囲：{{ event["first"] }} ～ {{ event["last"] }}　問題数：{{ event["quantity"] }}<br />
            {{ event["start"] }} ～ {{ event["end"] }}</p>
    {% endfor %}
    <h2>今後開催予定のイベント</h2>
    {% for event in future %}
        <p><a href="./?controller=event&action=detail&id={{ event['id'] }}"><b>{{ event["name"] }}</b></a><br />
            出題範囲：{{ event["first"] }} ～ {{ event["last"] }}　問題数：{{ event["quantity"] }}<br />
            {{ event["start"] }} ～ {{ event["end"] }}</p>
    {% endfor %}
    <h2>過去に開催したイベント</h2>
    {% for event in past %}
        <p><a href="./?controller=event&action=detail&id={{ event['id'] }}"><b>{{ event["name"] }}</b></a><br />
            出題範囲：{{ event["first"] }} ～ {{ event["last"] }}　問題数：{{ event["quantity"] }}<br />
            {{ event["start"] }} ～ {{ event["end"] }}</p>
    {% endfor %}
    <p>エラー/バグ等を発見した場合はお手数ですが開発者(<a href="mailto:nobita.0918&#64;gmail.com">こちら</a>)にご連絡ください</p>
    &copy;2015-2016 0918nobita
</div>
