<div id="header">英単語プレテスト</div>
<div id="main">
    <p>Twitter Bot → <a href="https://twitter.com/EitangoPretest" style="text-decoration:none;" target="_blank">@EitangoPretest</a></p>
    <p>英単語を、範囲を指定してまとめてプレテストすることができます。<br />
        各種設定ができます。現在は1～{{ max }}をプレテストすることができます。</p>
    <h2>設定</h2>
    <form name="settings" action="?controller=pretest" method="POST">
        <p><input type="number" name="first" min="1" max="{{ max }}" value="{{ first }}"required> ～ <input type="number" name="last" min="1" max="{{ max }}" value="{{ last }}" required></p>
        <p id="display">1.
            <select name="display">
                <option value="non-selected">選択してください</option>
                <option value="table" {{ table_selected }}>一覧表示</option>
                <option value="one-by-one" {{ one_by_one_selected }}>一問ずつ画面切り替え</option>
            </select>
        </p>
        <p id="method" style="display:none;">2.
            <select name="method">
                <option value="non-selected">選択してください</option>
                <option value="eitango-imi" {{ eitango_imi_selected }}>英単語を見て意味を答える</option>
                <option value="imi-eitango" {{ imi-eitango_selected }}>意味を見て英単語を答える</option>
            </select>
        </p>
        <p id="order" style="display:none;">3.
            <select name="order">
                <option value="non-selected">選択してください</option>
                <option value="num" {{ num_selected }}>番号順</option>
                <option value="rnd" {{ rnd_selected }}>ランダム</option>
            </select>
        </p>
        <p id="quantity" style="display:none;">4.
            問題数(指定する場合のみ)： <input type="number" name="quantity" min="1" max="1900" value="{{ quantity }}" />
        </p>
        <input type="submit" value="プレテスト開始！" style="display:none;" />
    </form>
    <h2>更新履歴</h2>
    <form>
    <textarea cols=s50 rows=5 readonly>{% include "history.txt" %}</textarea>
    </form>
    <p>エラー/バグ等を発見した場合はお手数ですが開発者(<a href="mailto:nobita.0918&#64;gmail.com">こちら</a>)にご連絡ください</p>
    &copy;2015-2016 0918nobita
</div>
<script>
{% include "setting.js" %}
</script>
