<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ site_description }}">
    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="http://0918nobita.net/eitango_pretest">
    <meta property="og:description" content="{{ site_description }}">
    <meta property="og:country-name" content="Japan">
    <!-- Language -->
    <link rel="alternate" hreflang="ja" href="http://0918nobita.net/eitango_pretest/">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="{{ stylesheet_file_path }}">
    <!-- jQuery -->
    <script src="views/jquery-3.1.0.min.js"></script>
    <script src="views/secretEmailAddress.js"></script>
</head>
<body>
{% include content %}
</body>
</html>
