<!-- イベント詳細ページ -->
<div id="header"><a href="./" style="text-decoration: none;color:white;">戻る</a>　{{ name }}</div>
<div id="main">
    <p>出題範囲：{{ first }} ～ {{ last }}</p>
    <p>問題数：{{ quantity }}</p>
    <p>開催期間：{{ start }} ～ {{ end }}</p>
    {% if held == "present" %}
        <form method="post" action="./?controller=pretest">
            <input type="hidden" name="first" value="{{ first }}">
            <input type="hidden" name="last" value="{{ last }}">
            <input type="hidden" name="answer_method" value="type">
            <input type="hidden" name="method" value="imi-eitango">
            <input type="hidden" name="order" value="rnd">
            <input type="hidden" name="quantity" value="{{ quantity }}">
            <input type="hidden" name="category" value="{{ category }}">
            <input type="hidden" name="event" value="true">
            <input type="submit" value="挑戦する！">
        </form>
    {% elseif held == "future" %}
        <p>まだ開催されていません。</p>
    {% else %}
        <p>このイベントは終了しました。</p>
    {% endif %}
    {% if held != "future" %}
        <p>→ <a href="./?controller=event&action=ranking&category={{ category }}">ランキング</a></p>
    {% endif %}
    <p>エラー/バグ等を発見した場合はお手数ですが開発者(<script>secretEmailAddress();</script>)にご連絡ください</p>
    &copy;2015-2016 0918nobita
</div>
