<!-- プレテストページ -->
<div id="header"><a href="./" style="text-decoration: none;color:white;">戻る</a>　{{ first }}～{{ last }}をプレテスト中</div>
<div id="main">
    {% if method == "eitango-imi" %}
        <p>英単語を見て、意味を答えてください。<br />カーソルを重ねている間だけ、答えが表示されます。</p>
    {% elseif method == "imi-eitango" and answer_method == "touch" %}
        <p>意味を見て、英単語を答えてください。<br />カーソルを重ねている間だけ、答えが表示されます。</p>
    {% else %}
        <p>入力欄に英単語を入力して、改行で正誤確認してください。</p>
    {% endif %}
    <p>(Google ChromeとSafari以外のブラウザでは発音機能が利用できません。ご了承ください。)</p>
    <input type="button" value="すべて選択解除" onClick="uncheckAll();">
    {% if answer_method == "touch" %}
        <input type="button" id="display_button" value="答えをすべて表示" onClick="display();">
    {% endif %}
    <input type="button" value="選択した問題を保存する" onclick="saveSelectedProblems();">
    <br /><br />
    <div id="table-frame">
        <table>
            {% if answer_method == "touch" %}
                {% if method == "eitango-imi" %}
                    {% for i in words | keys %}
                        <tr><td>{{ words[i]["id"] }}</td><td class="selector">選択</td><td class="problem"><div>【{{ words[i]["class"] }}】<br />{{ words[i]["front"] }}</div></td><td class="cover">{{ words[i]["back"] }}</td></tr>
                    {% endfor %}
                {% else %}
                    {% for i in words | keys %}
                        <tr><td>{{ words[i]["id"] }}</td><td class="selector">選択</td><td class="problem"><div>【{{ words[i]["class"] }}】<br />{{ words[i]["back"] }}</div></td><td class="cover">{{ words[i]["front"] }}</td></tr>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% for i in words | keys %}
                    <tr><td>{{ words[i]["id"] }}</td><td class="selector">選択</td><td class="problem"><div>【{{ words[i]["class"] }}】<br />{{ words[i]["back"] }}</div></td><td data-answer="{{ words[i]["front"] }}"><input type="text" onkeyup="checkAnswer(event.keyCode, this);"></td></tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <div id="page-top">トップ</div>
    <p>エラー/バグ等を発見した場合はお手数ですが開発者(<script>secretEmailAddress();</script>)にご連絡ください</p>
    &copy;2015-2016 0918nobita
    <form name="form" method="post" action="index.php?controller=event&action=rank">
        <input type="hidden" name="category" value="{{ category }}">
        <input type="hidden" name="nickname" value="unknown">
        <input type="hidden" name="score" value="-1">
        <input type="hidden" name="selected" value="">
    </form>
</div>
<script>
    document.body.addEventListener('touchstart', function() {});

    var selected = [];

    $(function(){
        $("#page-top").click(function(){
            $("html,body").animate({scrollTop:0});
        });

        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $("#page-top").fadeIn();
            } else {
                $("#page-top").fadeOut();
            }
        });

        $(".selector").click(function(){
            var node = this.parentNode;
            if (node.style.backgroundColor != "gray") {
                node.style.backgroundColor = "gray";
                selected.push(node.firstChild.innerHTML - 0);
                console.log(selected);
            } else {
                node.style.backgroundColor = "white";
                selected.splice(selected.indexOf(node.firstChild.innerHTML - 0));
                console.log(selected);
            }
        });
    });

    var answers = 0;
    var correct = 0;
    var incorrect = [];

    function checkAnswer(code, element) {
        if (code === 13) {
            var parent = element.parentNode;
            var d = new $.Deferred();
            d.resolve();
            d.promise().then(function() {
                if (parent.dataset.answer == element.value) {
                    parent.innerHTML = "正解: " + parent.dataset.answer;
                    parent.style.backgroundColor = "#80FF80";
                    if (parent.parentNode.nextElementSibling && parent.parentNode.nextElementSibling.lastChild.firstChild.focus) {
                        parent.parentNode.nextElementSibling.lastChild.firstChild.focus();
                    }
                    correct++;
                } else {
                    parent.innerHTML = "不正解: " + parent.dataset.answer;
                    parent.style.backgroundColor = "#FF8080";
                    if (parent.parentNode.nextElementSibling && parent.parentNode.nextElementSibling.lastChild.firstChild.focus) {
                        parent.parentNode.nextElementSibling.lastChild.firstChild.focus();
                    }
                    incorrect.push(parent.parentNode.firstChild.innerHTML - 0);
                }
                answers++;
            }).then(function() {
                if (answers >= {{ quantity }}) {
                    $.ajax({
                        type: "POST",
                        url: "index.php?controller=session&action=saveIncorrectProblems",
                        timeout: 10000,
                        data: {
                            incorrect: JSON.stringify(incorrect)
                        }
                    }).fail(function(){
                        console.log("送信失敗");
                    });
                    alert(correct + "問正解！");
                    if ("{{ event }}" == "true") {
                        do {
                            var nickname = window.prompt("ニックネームを入力してください(必須, 1文字以上10文字以下)", "");
                        } while(((nickname != null) && (nickname == "")) || ((nickname != null) && (nickname.length > 10)));
                        if (nickname != null) {
                            var score = correct;
                            $(':hidden[name="nickname"]').val(nickname);
                            $(':hidden[name="score"]').val(score);
                            $(':hidden[name="selected"]').val(JSON.stringify(selected));
                            $('form').submit();
                        } else {
                            location.href="./?controller=event&action=ranking&category={{ category }}";
                        }
                    }
                }
            });
        }
    }

    function saveSelectedProblems() {
        $.ajax({
            type: "POST",
            url: "index.php?controller=session&action=saveSelectedProblems",
            timeout: 10000,
            data: {
                selected: JSON.stringify(selected)
            }
        }).done(function(){
            alert("保存しました");
        }).fail(function(){
            alert("保存に失敗しました");
        });
    }

    function uncheckAll() {
        selected = [];
        $('.cover').each(function(){
            var node = this.parentNode;
            if (node.style.backgroundColor != "white") {
                node.style.backgroundColor = "white";
            }
        });
    }
</script>
