<!-- トップページ -->
<div id="header">英単語プレテスト</div>
<div id="main">
    <p>Twitter Bot → <a href="https://twitter.com/EitangoPretest" style="text-decoration:none;" target="_blank">@EitangoPretest</a></p>
    <p>英単語を、範囲を指定してまとめてプレテストすることができます。<br />
        各種設定ができます。現在は1～{{ max }}をプレテストすることができます。</p>
    <p>→ <a href="./?controller=event">すべてのイベント</a></p>
    <p>→ <a href="./?controller=review">復習する</a></p>
    <h2>設定</h2>
    <form name="settings" action="?controller=pretest" method="POST">
        <p>出題範囲：<input type="number" name="first" min="1" max="{{ max }}" value="{{ first }}"required> ～ <input type="number" name="last" min="1" max="{{ max }}" value="{{ last }}" required></p>
        <p id="display">1.
            <select name="answer_method">
                <option value="non-selected">選択してください</option>
                <option value="touch" {{ touch_selected }}>タッチで答えを確認</option>
                <option value="type" {{ type_selected }}>答えを入力して正誤確認</option>
            </select>
        </p>
        <p id="method" style="display:none;">2.
            <select name="method">
                <option value="non-selected">選択してください</option>
                <option value="eitango-imi" {{ eitango_imi_selected }}>英単語を見て意味を答える</option>
                <option value="imi-eitango" {{ imi_eitango_selected }}>意味を見て英単語を答える</option>
            </select>
        </p>
        <p id="order" style="display:none;">3.
            <select name="order">
                <option value="non-selected">選択してください</option>
                <option value="num" {{ num_selected }}>番号順</option>
                <option value="rnd" {{ rnd_selected }}>ランダム</option>
            </select>
        </p>
        <p id="quantity" style="display:none;">4.
            問題数(指定する場合のみ)： <input type="number" name="quantity" min="1" max="1900" value="{{ quantity }}" />
        </p>
        <input type="submit" value="プレテスト開始！" style="display:none;" />
    </form>
    <p>エラー/バグ等を発見した場合はお手数ですが開発者(<script>secretEmailAddress();</script>)にご連絡ください</p>
    &copy;2015-2016 0918nobita
</div>
<script src="views/js/top.js"></script>
